{% extends "base.html" %}

{% block body_block %}

<div class="jumbotron">
  <h2 style='color:white'>Automatic Fiber Recruitment Quantification Using Deep learning</h2>
  <h4 style='color:white'>Classifier trained with multiphoton image data from Robertson's lab</h4>
  <img src="../static/figurem.png" alt="Errors of display the image" width="700" height="450">
  <h5 style='color:white'>Reference: Cheng, Fangzhou, et al.Biomechanics and modeling in mechanobiology 17.2 (2018): 403-417.</h5>


</div>


<div class="bottomright">
  <h5 style='color:white'>Contact: chengfangzhou20@gmail.com</h5>

</div>
{% endblock %}
